@extends('backend::default.layout.one_column')

@section('content')
	<p>[[ $page_title ]]<p>
	<ul>
	@foreach ($app['config']['app'] as $key=>$value)
	    <li>[[ $key ]] : [[ $value ]]</li>
	@endforeach
	</ul>
	<p><a href="[[ $app->path('backend') ]]">Go To Administration Page</a></p>
@stop