<!doctype html>
<html>
<head>
	<title>Unika-CMF::{{ page_title }}</title>
</head>
<body>
	<h1>Welcome to Unika-CMF</h1>

	{% if app.session.getFlashBag().get('notice') is empty %}
	    {% for flash in app.session.getFlashBag().get('notice') %}
	        <li>{{ flash }}</li>
	    {% endfor %}
    {% endif %}

	{% block content %}

	{% endblock %}
</body>
</html>