<!doctype html>
<html>
<head>
	<title>Unika-CMF::[[ $page_title ]]</title>
</head>
<body>
	<header id="header">
		
	</header>

    <div id="main-navigation">
    	
    </div>

    @if( $app['session']->getFlashBag()->has('notice') )
        <div class="flash-session">
        @foreach($app['session']->getFlashBag()->get('notice') as $flash )
            <li>[[ $flash ]]</li>
        @endforeach
        </div>
    @endif
    
	@yield('content')
</body>
</html>