<!doctype html>
<html>
<head>
	<title>{{ $page_title }}</title>
	<link rel="stylesheet" href="{{ $app['stylesheets'] }}bootstrap.min.css" media="screen">
	<link rel="stylesheet" href="{{ $app['stylesheets'] }}bootstrap-theme.min.css" media="screen">

	<script type="text/javascript" src="{{ $app['scripts'] }}jquery.min.js"></script>
	<script type="text/javascript" src="{{ $app['scripts'] }}bootstrap.min.js"></script>
</head>
<body>

<div class="container">

	<div class="row">

		<header style="border:1px solid #ddd;">
			<p style="text-align:center;">Im Header!!</p>
		</header>

		<div class="col-lg-4" style="border:1px solid #ddd;">
			@section('sidebar')
	    		This is the master sidebar.
			@show
		</div>

		<div class="col-lg-8" style="border:1px solid #ddd;">
    		@yield('content')
    	</div>

    </div><!-- END Row -->

</div><!-- END Container -->

</body>
</html>